@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans';
}

.body {
  font-family: 'Kumbh Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 130px 50px 130px;
}
ul{
  display: flex;
  margin-top: 10px;
}
ul li {
  list-style: none;
  padding-right: 20px;
  cursor: pointer;
  color: hsl(220, 14%, 75%);
}

.left-nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}
.right-nav {
  display: flex;
  
}

.sneakers {
  font-weight: bolder;
  font-size: 30px;
  margin-right: 100px;
  cursor: pointer;
  color: hsl(220, 13%, 13%);
}

.cart {
  margin-right: 40px;
  cursor: pointer;
  margin-top: 30px;
}
.avatar {
  cursor: pointer;
  margin-top: 10px;
}
.avatar img{
  width: 60px;
  height: 60px;
}
.avatar img:hover {
  opacity: 0.5;
}

hr {
  size: 2px;
  margin: 0 130px 0 130px;
}

.cards {
  margin-top: 80px;
}